.slider {
  height: 100%;
}

.track {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 629px;
  height: 30px;
  border-radius: 2px;
  background: linear-gradient(0, rgba(255,255,255,0.3), rgba(0,0,0,0)),
   repeating-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 8px, rgba(0,0,0,0.5) 9px);
  background-size: 9px 100%;
  background-color: $color-neutral;
  box-shadow: 0 0 0 1px transparentize($color-neutral, 0.4), inset 0 1px 0 rgba(255,255,255,0.4);
}

.handle {
  cursor: pointer;
  cursor: grab;
  cursor: -webkit-grab;
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 11px;
  background: linear-gradient(0, rgba(255,255,255,0.3), rgba(0,0,0,0));
  background-color: $color-active;
  box-shadow: 0 0 0 1px transparentize($color-active, 0.4), inset 0 1px 0 rgba(255,255,255,0.4);
  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 5px;
    height: 10px;
    margin: auto;
  }

  &.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
}

.handle-0 {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.handle-1 {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.bar-1 {
  margin: 0 12px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  background: linear-gradient(0, rgba(255,255,255,0.3), rgba(0,0,0,0));
  background-color: transparentize($color-active, 0.2);
  box-shadow: 0 0 0 1px transparentize($color-active, 0.4), inset 0 1px 0 rgba(255,255,255,0.4);
}
