<!DOCTYPE html>
<html lang="en">
<head>
  <title>Siz</title>

  <!-- Mobile rendering -->
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <!-- Google description -->
  <meta name="description" content="The fastest way to discover videos">

  <!-- Facebook meta tags -->
  <meta property="fb:app_id" content="592980600767291">
  <meta property="og:site_name" content="Siz">
  <meta property="og:title" content="Get the Siz app !">
  <meta property="og:description" content="The fastest way to discover videos">
  <meta property="og:image" content="http://siz.io/static/img/siz-red.png">

<!-- CSS -->
<link rel="stylesheet" href="/static/css/home/main.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57580957-1', 'auto');
  ga('send', 'pageview');
</script>

</head>
<body>
  <div class="oblique-top-wrapper">
    <svg class="oblique-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 633" preserveAspectRatio="none">
      <polygon points="0 412 1920 633 0 633" fill="#fff"/>
    </svg>
    <div class="menu-top">
      <a href="/trending">Trending</a>
      <a href="mailto:jobs@siz.io" target="_blank">Jobs</a>
      <a href="mailto:hello@siz.io" target="_blank">Contact</a>
    </div>
    <div><img style="width:100px" src="/static/img/siz-white.png"></div>
    <div class="sub-logo">Video strips</div>
    <div class="tagline">The fastest way to discover videos</div>
    <div class="iphone-preview">
      <img src="/static/img/iphone-preview.png" onload="document.querySelector('.strip-preview').src='/static/img/strip-preview.gif'">
      <img class="strip-preview" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png">
    </div>
    <div class="app-downloads">
      <a target="_blank" href="http://ad.apps.fm/-9Jjy4vqyRkZhctV2x6zXfE7og6fuV2oOMeOQdRqrE3ycgNsA4xKbwTdloUGRGypHRmKHsREbVOFLMRngjJC1w" class="app-download ios"></a>
      <a  target="_blank" href="http://ad.apps.fm/42fT7viP0Lk8p4KVXjg0kl5KLoEjTszcQMJsV6-2VnHFDLXitVHB6BlL95nuoNYfQdCcRgQKk3L5883T-Th4xR5n7X2qP2-z96nm_r39_2U" class="app-download android"></a>
    </div>
  </div>

  <div class="factory-pitch">
    <img class="illustration" src="/static/img/factory.png">
    <div class="pitch">
      <h2>Want to create</h2>
      <h1>your strip?</h1>
    </div>
  </div>

  <script>
    window.onSubmitUrl = function () {
      var url = document.querySelector('#video-url').value;
      if (!url) return window.location = '/factory/source';
      try {
        window.location = '/factory/edit?video=' + url.split('v=')[1].replace(/(#|&).*$/, '');
      } catch (e) {
        document.querySelector('.error').innerHTML = 'Invalid YouTube URL';
      }
    }
  </script>
  <form autocomplete="off" method="get" onsubmit="window.onSubmitUrl(); return false;">
    <input id="video-url" type="text" placeholder="YouTube URL">
    <input type="submit" class="btn main" value="Make it loop!">
    <br><div class="error"></div>
  </form>

  <div class="oblique-bottom-wrapper">
    <svg class="oblique-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 60" preserveAspectRatio="none">
      <polygon points="0 0 1920 0 0 60" fill="#fff"/>
    </svg>
  </div>
  <div class="official-pages">
    <a href="https://www.facebook.com/siz.io" target="_blank"><img src="/static/img/facebook.png" alt="facebook"></a>
    <a href="https://twitter.com/siz_io" target="_blank"><img src="/static/img/twitter.png" alt="twitter"></a>
    <a href="http://story.siz.io/" target="_blank"><img src="/static/img/tumblr.png" alt="tumblr"></a>
  </div>
  <div class="menu-bottom">
    <a href="/trending">Trending</a>
    <a href="mailto:jobs@siz.io" target="_blank">Jobs</a>
    <a href="mailto:hello@siz.io" target="_blank">Contact</a>
    <span>© SIZ 2015</span>
  </div>
</body>
</html>
