@import "lib/reset";
@import "lib/button-icons";

@import "story/popover";

body {
  background-color: #F0F0F0;
}

.header {
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.12);
  .logo {
    height: 60px;
  }
  h2 {
    margin-top: -10px;
    font-size: 14px;
  }

  .app-download {
    position: absolute;
    right: 0;
    top: 10px;
  }
}

iframe {
  display: block;
  margin: 20px auto;
  width: 720px;
  height: 720px * 9 / 16;
}

.container {
  position: relative;
  width: 720px;
  margin: auto;
}

@media (max-width : 740px) {
  iframe {
    margin: 10px auto;
    width: 600px;
    height: 600px * 9 / 16;
  }
  .container {
    width: 600px;
  }
}

@media (max-width : 620px) {
  iframe {
    margin: 10px auto;
    width: 340px;
    height: 340px * 9 / 16 * 4;
  }
  .container {
    width: 340px;
  }

  .app-download.ios {
    width: 101px;
    height: 30px;
  }

  .app-download.android {
    width: 97px;
    height: 34px;
  }

}
