@import "lib/reset";
@import "lib/button-icons";

@import "story/popover";

body {
  background-color: #F0F0F0;
}

.header {
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.12);
  .logo {
    height: 60px;
  }
  h2 {
    margin-top: -10px;
    font-size: 14px;
  }

  .app-download {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.container {
  max-width: 740px;
  margin: auto;
}

@media (max-width : 620px) {
  .app-download.ios {
    width: 101px;
    height: 30px;
  }

  .app-download.android {
    width: 97px;
    height: 34px;
  }
}


@each $width in 320px, 360px {
  @media only screen and (min-device-width : $width) and (orientation: portrait) {
    .video-strip {
      margin: 0 auto;
      width: $width;
      height: $width * 9 / 16 * 4;
    }
  }
}

@each $width in 480px, 568px, 640px {
  @media only screen and (min-device-height : $width) and (orientation: landscape) {
    body {
      min-width: $width;
    }

    .video-strip {
      margin: 0 auto;
      width: $width;
      height: $width * 9 / 16;
    }
  }

  @media only screen and (min-width : $width) and (orientation: landscape) {
    body {
      min-width: $width;
    }

    .video-strip {
      margin: 0 auto;
      width: $width;
      height: $width * 9 / 16;
    }
  }
}

@media only screen and (min-width: 720px) {
  .video-strip {
    margin: 20px auto;
    width: 720px;
    height: 720px * 9 / 16;
  }
}

