@import 'lib/reset';
@import 'lib/sprite';

body{
    margin: auto;
}

.header{
    height:100px;
    text-align: center;
    min-width:560px;
}

.main{
    background-color: rgb(245,245,245);
     font-family: 'Montserrat', sans-serif;
    color:rgb(74,74,74);
    padding-bottom:10px;
    min-width:560px;
}

h1{
    font-size:24px;
    font-weight:none;
}

.story_title{
    text-align:center;
    padding-top:30px;
    padding-bottom:30px
}

.story{
    background-color: rgb(234,234,234);
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right:20px;
    width:520px;
    margin:auto;
    margin-bottom:20px;
}

.box{
    margin-top:10px;
    margin-bottom:10px;
    width:520px;
}

.story_video{
    margin-top:10px;
    margin-bottom:10px;
    width:520px;
}

@media (min-width: 1120px) {
    .story_container{
        position: relative;
        width:1070px;
        margin: auto;
    }
    .rightpart{
        position: absolute;
        right: 0px;
        top: 300px;
    }
    .appstore_pic{
        float:left;
          }
    .share_box{
        float:left;
    }
}

@media (max-width: 1120px) {
    .appstore_pic{
       width:300px;
    }
    .rightpart{
       text-align: center;
    }
}

.rightpart{
    margin:auto;
    margin-top:10px;
}

.appstore_pic{
    margin-bottom:30px;
    width:230px;
}

.share_box{
    background-color: rgb(234,234,234);
    padding:15px;
    width:200px;
    margin:auto;
    height:86px;
}

.share_button{
    float:left;
    width:50px;
    margin-right:8px;
    margin-left:8px;
}

