@import "lib/reset";
@import "compass";
@import "lib/button-icons";
$share-sprite-sprite-dimensions: true;
@import "share-sprite/*.png";
@include all-share-sprite-sprites;

html, body {
  color: #fff;
  background-color: #000;
  font-size: 18px;
  height: 100%;
  &:hover .strip {
    right: 70px;
  }
}

.strip {
  position: absolute;
  z-index: 10;
  transition: right 0.2s;
  right: 0px;
  width: 100%;
  height: 100%;
}

a.next {
  position: absolute;
  right: 0;
  display: block;
  height: 100%;
  width: 70px;
  background-color: #df2f55;
  div {
    text-align: center;
    position: absolute;
    top: 0;
    left: -200px;
    right: -200px;
    bottom: 0;
    margin: auto;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    height: 44px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10px;
  @include background-image(linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0)));
}

.source-btn {
  font-size: 10px;
  float: right;
  a, a:active, a:visited {
    color: #fff;
  }
  span, img {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    height: 25px;
    margin-left: 3px;
  }
}

#grid, .gif, .img-placeholder{
  background-color: #000;
  position: absolute;
}

#grid, .img-placeholder, {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.play-full {
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  a, a:active, a:visited {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 8px 16px;
    border-radius: 5000px;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

#grid:hover .play-full {
  opacity: 1;
}

.img-placeholder {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid-1x1 {
  .gif {
    height: 100%;
    width: 100%;
  }

  #gif1, #gif2, #gif3 {
    display: none;
  }
}

.grid-2x2 {
  .gif {
    height: 50%;
    width: 50%;
  }

  #gif1 {
    left: 50%;
    .img-placeholder {
      left: 1px;
    }
  }

  #gif2 {
    top: 50%;
    .img-placeholder {
      top: 1px;
    }
  }

  #gif3 {
    left: 50%;
    top: 50%;
    .img-placeholder {
      left: 1px;
      top: 1px;
    }
  }
}

.grid-4x1 {
  .gif {
    height: 25%;
    width: 100%;
  }

  #gif1 {
    top: 25%;
    .img-placeholder {
      top: 1px;
    }
  }

  #gif2 {
    top: 50%;
    .img-placeholder {
      top: 1px;
    }
  }

  #gif3 {
    top: 75%;
    .img-placeholder {
      top: 1px;
    }
  }
}

.grid-1x4 {
  .gif {
    height: 100%;
    width: 25%;
  }

  #gif1 {
    left: 25%;
    .img-placeholder {
      left: 1px;
    }
  }

  #gif2 {
    left: 50%;
    .img-placeholder {
      left: 1px;
    }
  }

  #gif3 {
    left: 75%;
    .img-placeholder {
      left: 1px;
    }
  }
}

.actions {
  float: right;
  a {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
  }
  &:after {
    vertical-align: middle;
    content: "";
    display: inline-block;
    height: 100%;
  }
}

#player-container {
  z-index: 2;
  background-color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  iframe {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.right-action {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  right: 20px;
  z-index: 3;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.4);

  &.close-btn {
    top: 50px;
    background-size: 20px;
  }

  &.share-btn {
    top: 100px;
    background-size: 30px;
  }
}

#sharebox-container {
  display: none;
  z-index: 10;
  background-color: rgba(200,200,200,0.6);
  position: absolute;
  height: 100%;
  width: 100%;

  &.open {
    display: block;
  }
}

#sharebox {
  border-radius: 3px;
  text-align: center;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 5px rgba(0,0,0,.12);
  background-color: #f0f0f0;
  height: 150px;
  width: 220px;

  h2 {
    display: block;
    margin: 10px 0;
  }

  a {
    margin: 5px;
    display: inline-block;
  }
}

.embed-code {
  span, input {
    display: inline-block;
    vertical-align: middle;
  }
  font-family: courier;
  margin-top: 5px;
  font-size: 12px;
  input {
    border: none;
    font-family: courier;
    border-radius: 2px;
    padding: 5px;
    width: 160px;
  }
}

.not-found {
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  height: 100%;
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 14px;
  }

  .title {
    padding: 4px;
  }

  .actions a {
    height: 20px;
    width: 20px;
  }

  .play-full {
    font-size: 10px;
    a {
      padding: 5px 10px;
    }
  }

  #sharebox {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  .right-actions {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
}

@media (max-width: 240px) {
  body {
    font-size: 12px;
  }

  .title {
    padding: 3px;
  }

  .actions a {
    height: 16px;
    width: 16px;
  }
}
