@import "lib/reset";

body {
  background-color: #F0F0F0;
}

.header {
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.12);
  .logo {
    height: 60px;
  }
  h2 {
    margin-top: -10px;
    font-size: 14px;
  }
}

iframe {
  display: block;
  margin: 20px auto;
  width: 720px;
  height: 720px * 9 / 16;
}

@media (max-width : 740px) {
  iframe {
    margin: 10px auto;
    width: 600px;
    height: 600px * 9 / 16;
  }
}

@media (max-width : 620px) {
  iframe {
    margin: 10px auto;
    width: 340px;
    height: 340px * 9 / 16 * 4;
  }
}

