<!DOCTYPE html>
<html lang="en">
<head>
  <title>Siz - The Factory</title>

  <!-- Mobile rendering -->
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/factory/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57580957-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body>
  <div class="top-bg"><div class="fill"></div></div>
  <div class="header">
    <span>The</span>
    <img src="/static/img/siz-white.png" alt="Siz">
    <span>factory</span>
  </div>

  <div class="create-your-strip">
    <div class="create"><img src="/static/img/scissors.png"/>create</div>
    <div class="your-strip">your strip</div>
  </div>

  <form method="post" action="classic-login" autocomplete="off">
    <input name="email" class="half-size" autofocus type="text" placeholder="email">
    <input name="password" class="half-size" type="password" placeholder="password">
    <input type="submit" class="btn valid" value="OK">
    <br><div class="error">{{error}}</div>
  </form>

  <div class="pitch">
    <p>Create your <strong>video strip</strong> in a couple of minutes with the <strong>Siz Factory</strong>.</p>
    <p>It's still in private beta. Want to try it ?</p>
    <a href="mailto:hello@siz.io" target="_blank" class="btn">Get in touch !</a>
  </div>

  <div class="footer">
    <div class="menu menu-bottom">
      <a href="/trending">Trending</a>
      <a href="mailto:jobs@siz.io" target="_blank">Jobs</a>
      <a href="mailto:hello@siz.io" target="_blank">Contact</a>
      <span>© SIZ 2015</span>
    </div>
  </div>
</body>
</html>
